/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --default-font: IBM Plex Mono, serif;
  --button-hover-color: #FF007066;
  --list-button-color: var(--accent-color);
  --is-element-visible: visible;
  --brackets-color: var(--accent-color);
  --text-color: #F1B2CE;
  --section-title-color: var(--accent-color);
  --background-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png); 
    --title-color: #DB00FF;
    --subtitle-color: #000028;
    --default-font: IBM Plex Mono, serif;
    --button-hover-color: #FF007066;
    --list-button-color: var(--accent-color);
    --is-element-visible: visible;
    --brackets-color: var(--accent-color);
    --text-color: #F1B2CE;
    --section-title-color: var(--accent-color);
    --background-color: #000028;
    }
}