/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --default-font: IBM Plex Mono, serif;
  --button-hover-color: #32312D66;
  --list-button-color: var(--subtitle-color);
  --is-element-visible: hidden;
  --brackets-color: var(--subtitle-color);
  --text-color: var(--subtitle-color);
  --section-title-color: var(--subtitle-color);
  --background-color:  #FFF1F7;

}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png); 
    --title-color: #FFC2E6;
    --subtitle-color:  #353430;
    --default-font: IBM Plex Mono, serif;
    --button-hover-color: #32312D66;
    --list-button-color: var(--subtitle-color);
    --is-element-visible: hidden;
    --brackets-color: var(--subtitle-color);
    --text-color: var(--subtitle-color);
    --section-title-color: var(--subtitle-color);
    --background-color:  #FFF1F7;
    }
}